body.active_admin
  .select_many
    .search-select
      margin-bottom: 1px
    .selects
      display: flex
      flex-wrap: wrap
      > input[type="text"], > select, > span
        margin-right: 1%
        min-width: auto
        width: 49%
      > span
        padding: 3px 6px 1px 6px
